# {{ ansible_managed }}

myhostname = {{ inventory_hostname }}
myorigin = $myhostname
mydestination = $myhostname, localhost
mynetworks = 127.0.0.0/8
inet_interfaces = localhost
inet_protocols = ipv4
