# {{  ansible_managed }}

{{ bind9_log_dir }}/*.log {
  compress
  create 0644 {{ bind9_user }} {{ bind9_group }}
  daily
  missingok
  notifempty
  rotate {{ bind9_logrotate }}
  sharedscripts
  postrotate
    /usr/sbin/rndc reconfig > /dev/null 2>/dev/null || true
  endscript
}