// {{ ansible_managed }}

options {
	directory "/var/cache/bind";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable 
	// nameservers, you probably want to use them as forwarders.  
	// Uncomment the following block, and insert the addresses replacing 
	// the all-0's placeholder.

{% if bind9_forwards %}
	//forwarders
	forwarders {
	{% for item in bind9_forwards %}
	  {{ item }};
	{% endfor -%}
	};
{% endif %}

{% if bind9_allow_net %}
	//allow-query
	allow-query {
	{% for item in bind9_allow_net %}
	  {{ item }};
	{% endfor -%}
	};
{% endif %}

{% if bind9_allow_net %}
	//allow-query-cache
	allow-query-cache {
	{% for item in bind9_allow_net %}
	  {{ item }};
	{% endfor -%}
	};
{% endif %}

{% if bind9_allow_net %}
	//allow-recursion
	allow-recursion {
	{% for item in bind9_allow_net %}
	  {{ item }};
	{% endfor -%}
	};
{% endif %}

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

{% if bind9_ipv6 %}
	listen-on-v6 { any; };
{% endif %}

};

{% if bind9_logging %}
logging {
	channel general {
		file "{{ bind9_log_dir }}/general.log";
		print-time YES;
		print-severity YES;
		print-category YES;
	};

	channel query {
		file "{{ bind9_log_dir }}/query.log";
		print-time YES;
		print-severity NO;
		print-category NO;
	};

	category default {
		general;
	};

	category queries {
		query;
	};
};
{% endif %}

{% if bind9_monitoring %}
statistics-channels {
	inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
{% endif %}
