// {{ ansible_managed }}
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% if bind9_zones %}
{% for item in bind9_zones %}
zone "{{ item.name }}" IN {
	type {{ item.type }};
	{% if not item.type == 'forward' -%}
	file "{{ bind9_zone_dir }}/{{ item.type }}/{{ item.name }}";
	masterfile-format text;
	{% endif -%}
	{% if item.type == 'slave' -%}
	masters {
	{% for item in item.masters %}
	{{ item }};
	{% endfor -%}
	};
	notify no;
	{% elif item.type == 'forward' -%}
	forward only;
	forwarders {
	{% for item in item.forwarders %}
	{{ item }};
	{% endfor -%}
	};
	{% else %}
	notify yes;
	{% endif %}
	{%- if not bind9_request_expire -%}
	{%- if not item.type == 'forward' -%}
	request-expire no;
	{% endif %}
	{% endif +%}
};

{% endfor %}
{% endif %}