# {{ ansible_managed }}
#ifconfig-push clientIP netmask 
ifconfig-push {{ item.1.ip }} {{ ovpn_client_mask }}
{% if item.1.push is defined %}
{% if item.1.push %}
{% for item in item.1.push %}
push "{{ item }}"
{% endfor %}
{% endif %}
{% endif %}
