{{ ovpn_client_remote | join('\n') }}

client
tls-client
auth SHA512
cipher {{ ovpn_cipher }}
remote-cert-tls server
proto udp
dev tun
resolv-retry 5
nobind
keepalive 5 30
persist-key
persist-tun
verb 3
key-direction 1

<ca>
{{ ca_cert.content | b64decode | trim }}
</ca>

<tls-crypt-v2>
{{ item.2.content | b64decode | trim }}
</tls-crypt-v2>

<cert>
{{ item.1.content | b64decode | trim }}
</cert>

<key>
{{ item.0.content | b64decode | trim }}
</key>
