# {{ ansible_managed }}

port {{ ovpn_port }}
proto udp
dev tun
client-config-dir {{ ovpn_ccd_dir }}
ca {{ ovpn_server_dir }}/ca.crt
cert {{ ovpn_server_dir }}/{{ ovpn_server }}.crt
key {{ ovpn_server_dir }}/{{ ovpn_server }}.key
dh {{ ovpn_server_dir }}/dh.pem
tls-crypt-v2 {{ ovpn_server_dir }}/server_tc.key
crl-verify {{ ovpn_server_dir }}/crl.pem
tls-server
auth SHA512
data-ciphers {{ ovpn_cipher }}
data-ciphers-fallback {{ ovpn_cipher }}
fast-io
topology {{ ovpn_topology }}

{{ ovpn_network | join('\n') }}

keepalive 5 30
persist-key
persist-tun
user nobody
group nogroup
status /var/log/openvpn/openvpn-status.log
log-append /var/log/openvpn/openvpn.log
verb 3
