# {{ ansible_managed }}

set_var EASYRSA_REQ_CN         "{{ ovpn_server }}"
set_var EASYRSA_CA_EXPIRE      "{{ ovpn_easyrsa_ca_expire }}"
set_var EASYRSA_CERT_EXPIRE    "{{ ovpn_easyrsa_cert_expire }}"
set_var EASYRSA_CRL_DAYS       "{{ ovpn_easyrsa_crl_days }}"