# {{ ansible_managed }}

global_defs {
    router_id {{ inventory_hostname }}
}

{% if kpa_script | length > 0 %}
vrrp_script check {
        script "{{ kpa_script }}"
        interval 2
        weight 2
}
{% endif %}

vrrp_instance vrrp_1 {
    state {{ kpa_net.0.host }}
    interface {{ kpa_net.0.eth | default(ansible_default_ipv4.interface) }}
    virtual_router_id 10
    advert_int 1
    priority {{ kpa_net.0.priority }}
    virtual_ipaddress {
        {{ kpa_net.0.ip }}
    }
{% if kpa_script | length > 0 %}
    track_script {
       check
    }
{% endif %}
    authentication {
        auth_type PASS
        auth_pass {{ kpa_pass }}
    }
}
vrrp_instance vrrp_2 {
    state {{ kpa_net.1.host }}
    interface {{ kpa_net.1.eth | default(ansible_default_ipv4.interface) }}
    virtual_router_id 20
    advert_int 1
    priority {{ kpa_net.1.priority }}
    virtual_ipaddress {
        {{ kpa_net.1.ip }}
    }
{% if kpa_script | length > 0 %}
    track_script {
       check
    }
{% endif %}
    authentication {
        auth_type PASS
        auth_pass {{ kpa_pass }}
    }
}