# {{ ansible_managed }}

# This is a configuration file for Zabbix server daemon
# To get more information about Zabbix, visit http://www.zabbix.com

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0

# DebugLevel=4

PidFile=/run/zabbix/zabbix_server.pid

SocketDir=/run/zabbix

DBName=zabbix
DBUser=zabbix
DBPassword={{ zbx_server_pass }}

############ ADVANCED PARAMETERS ################
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
StatsAllowedIP=127.0.0.1

{{ zbx_server_config | join('\n') }}


