# {{ ansible_managed  }}
node.id={{ ks_kafka_nodeid }}
process.roles=controller,broker
bootstrap.servers={% for host in ks_kafka_hosts %}{{ host }}:{{ ks_kafka_port }}{% if not loop.last %},{% endif %}{% endfor +%}
listeners=PLAINTEXT://:9092,CONTROLLER://:9091
advertised.listeners=PLAINTEXT://:9092
inter.broker.listener.name=PLAINTEXT
controller.listener.names=CONTROLLER
listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
log.dirs=/var/lib/kafka
controller.quorum.voters={% for host in ks_kafka_hosts %}{{ host.split('.')[3] }}@{{ host }}:{{ ks_kafka_quorum_port }}{% if not loop.last %},{% endif %}{% endfor +%}

# The number of threads that the server uses for receiving requests from the network and sending responses to the network
num.network.threads=3

# The number of threads that the server uses for processing requests, which may include disk I/O
num.io.threads=8

# The send buffer (SO_SNDBUF) used by the socket server
socket.send.buffer.bytes=102400

# The receive buffer (SO_RCVBUF) used by the socket server
socket.receive.buffer.bytes=102400

# The maximum size of a request that the socket server will accept (protection against OOM)
socket.request.max.bytes=104857600

# ansible config
{{ ks_kafka_config }}