# {{ ansible_managed }}

#===========================================================================
# Squid configuration
#===========================================================================

#--- Common settings
http_port {{ sq_port }}
cache_effective_user proxy
cache_effective_group proxy
workers 1
#cache_mem 1024 MB
maximum_object_size 10240 KB

#--- Allow proxing standard web traffic only
acl Safe_ports port 80
acl Safe_ports port 443
acl SSL_ports port 443
acl CONNECT method CONNECT

#--- Local networks
{% for item in sq_allow_net %}
acl localnet src {{ item }}
{% endfor %}

#--- Deny access to other than unsafe ports and secure SSL ports
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

#--- Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

#--- Deny requests to other than local subnetworks
http_access deny to_localhost
http_access allow localhost
http_access allow localnet

#--- Deny all other acl
http_access deny all

#--- Transactions and cache logging
{% if sq_log_disable %}
access_log none
cache_log /dev/null
{% else %}
#--- Transactions logging format
# ts  : Date of request, seconds since epoch
# tu  : Date of request, sub-second component
# tl  : Local time. Optional strftime format argument
# rm  : Request method
# ru  : Request URL, without the query string
# mt  : MIME type of the request
# >Hs : HTTP status code (200, 404, 407, etc)
# Ss  : Squid status code (TCP_HIT, TCP_MISS etc)
# tr  : Response time (milliseconds)
# >st : Total size of request
# <st : Total size of reply
# >a  : Client source IP address
# >p  : Client source port
# <a  : Server or peer IP address
# <p  : Server or peer port number
# un  : Authenticated user name or dash
# Sh  : Squid hierarchy code (FIRST_UP_PARENT, etc)
logformat timereadable %tl %6tr %>a %Ss HTTP/%rv %>Hs %<st %rm %ru %un %Sh/%<A %mt "%{User-Agent}>h"
log_mime_hdrs on
#emulate_httpd_log on
logfile_rotate 0
access_log stdio:/var/log/squid/access.log timereadable
cache_log stdio:/var/log/squid/cache.log
{% endif %}

#--- Disable netdb
netdb_filename none

#--- Directories for core dump and cache
coredump_dir /var/spool/squid
{% if sq_cache_disable %}
#--- Disable cache
cache deny all
{% else %}
cache_dir ufs /var/spool/squid 10240 16 256
{% endif %}

{% if not sq_cache_disable %}
#--- Refresh pattern
# 1 year = 525600 mins, 1 month = 43800 mins, 1 week = 10080 min, 1 day = 1440 min

refresh_pattern -i \.(3gp|7z|ace|asx|avi|bin|cab|dat|deb|rpm|divx|dvr-ms)(\?|$) 43800 100% 129600        # 3GP | 7Z | ACE | ASX | AVI | BIN | CAB | DAT | DEB | RPM | DIVX | DVR-MS
refresh_pattern -i \.(rar|jar|gz|tgz|tar|bz2|iso)(\?|$)                         43800 100% 129600        # RAR | JAR | GZ | TGZ | TAR | BZ2 | ISO
refresh_pattern -i \.(m1v|M2V|M2P|MOD|MOV|FLV)(\?|$)                       43800 100% 129600        # M1V | M2V | M2P | MOD | MOV | FLV
refresh_pattern -i \.(jp(e?g|e|2)|gif|pn[pg]|bm?|tiff?|ico|swf|css|js)(\?|$)           43800 100% 129600        # JPG | JPEG | JPE | JP2 | GIF | PNG | BMP | TIFF | ICO | SWF
refresh_pattern -i \.(mp(e?g|a|e|1|2|3|4)|mk(a|v)|ms(i|u|p))(\?|$)              43800 100% 129600        # MPEG STYLE CACHING, VIDEO AND MUSIC | MPG MPEG | MP1-2-3-4 | MK-A/V | MS-I-U-P
refresh_pattern -i \.(og(x|v|a|g)|rar|rm|r(a|p)m|snd|vob|wav)(\?|$)             43800 100% 129600        # OGX | OGV | OGA | OGG | RAR | RM | RAM | RPM | SND | VOB | WAV
refresh_pattern -i \.(pp(s|t)|wax|wm(a|v)|wmx|wpl|zip|cb(r|z|t))(\?|$)          43800 100% 129600        # PPS | PPT | WAX | WMA | WMV | WMX | WPL | ZIP | CBR | CBZ | CBT
refresh_pattern -i \.(woff|txt|exe|dmg|webm)(\?|$)                              43800 100% 129600        # WOFF | TXT | EXE | DMG | WEBM
refresh_pattern -i \.(css)(\?|$)                                                10080  60% 43800         # CSS
refresh_pattern -i \.(js)(\?|$)                                                 10080  60% 10080         # JS
refresh_pattern -i \.(doc|pdf)(\?|$)  10080 90% 43200      # DOC | PDF
refresh_pattern -i \.(html|htm)(\?|$) 1440  60% 10080      # HTML | HTM
refresh_pattern -i .(iso|avi|wav|mp3|mp4|mpeg|swf|flv|x-flv)$ 43200 90% 432000     #THIS SHOULD BE DOCUMENTED/DONE ABOVE, BUT LEAVING HERE JUST IN CASE
refresh_pattern -i .(deb|rpm|exe|zip|tar|tgz|ram|rar|bin|ppt|doc|docx|tiff)$ 10080 90% 43200     # DEB | RPM | EXE | ZIP | TAR | TGZ | RAM | RAR | BIN | PPT | DOC | TIFF | DOCX
refresh_pattern -i .(html|htm|css|js)$ 1440 40% 40320
refresh_pattern -i .index.(html|htm)$ 0 40% 10080
refresh_pattern -i .(ppt|pptx|doc|docx|docm|docb|dot|pdf|pub|ps)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(xls|xlsx|xlt|xlm|xlsm|xltm|xlw|csv|txt)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(app|bin|deb|rpm|drpm|exe|zip|zipx|tar|tgz|tbz2|tlz|iso|arj|cfs|dar|jar)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(bz|bz2|ipa|ram|rar|uxx|gz|msi|dll|lz|lzma|7z|s7z|Z|z|zz|sz)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(exe|msi)$ 0 90% 200000 refresh-ims
refresh_pattern -i .(cab|psf|vidt|apk|wtex|hz|ova|ovf)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(xml|flow|asp|aspx)$ 0 90% 200000 refresh-ims
refresh_pattern -i .(json)$ 0 90% 200000 refresh-ims
refresh_pattern -i .(asx|mp2|mp3|mp4|mp5|wmv|flv|mts|f4v|f4|pls|midi|mid)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(mpa|m2a|mpe|avi|mov|mpg|mpeg|mpg3|mpg4|mpg5)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(m1s|mp2v|m2v|m2s|m2ts|mp2t|wmx|rm|rmvb|3pg|3gpp|omg|ogm|asf|war)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(swf|js|ejs)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(wav|css|class|dat|zsci|ver|advcs)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(gif|png|ico|jpg|jpeg|jp2|webp)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(jpx|j2k|j2c|fpx|bmp|tif|tiff|bif)$ 100000 90% 20000     refresh-ims
refresh_pattern -i .(pcd|pict|rif|exif|hdr|bpg|img|jif|jfif)$ 100000 90% 200000     refresh-ims
refresh_pattern -i .(woff|woff2|eps|ttf|otf|svg|svgi|svgz|ps|ps1|acsm|eot)$ 100000 90% 200000     refresh-ims
refresh_pattern -i (\.|-)(mid|midi|mpg|mpeg|ram|cav|acc|alz|apk|at3|bke|arc|ass|ba|big|bik|bkf|bld|c4|cals|clipflair|cpt|daa|dmg|ddz|dpe|egg|egt|ecab|ess|gho|ghs|gz|ipg|jar|lbr|lqr|lha|lz|lzo|lzma|lzx|mbw|mc.meta|mpq|nth|osz|pak|par|par2|paf|pyk|pk3|pk4|rag|sen|sitx|skb|tb|tib|uha|uue|viv|vsa|z|zoo|nrg|adf|adz|dms|dsk|d64|sdi|mds|mdx|cdi|cue|cif|c2d|daa|b6t)(\?.*)?$ 43200 100% 432000
refresh_pattern -i (.|-)(mp3|m4a|aa?c3?|wm?av?|og(x|v|a|g)|ape|mka|au|aiff|zip|flac|m4(b|r)|m1v|m2(v|p)|mo(d|v)|arj|appx|lha|lzh|on2) 43200 100% 432000
refresh_pattern -i (.|-)(exe|bin|(n|t)ar|acv|(r|j)ar|t?gz|(g|b)z(ip)?2?|7?z(ip)?|wm[v|a]|patch|diff|mar|vpu|inc|r(a|p)m|kom|iso|sys|[ap]sf|ms[i|u|f]|dat|msi|cab|psf|dvr-ms|ace|asx|qt|xt|esd) 43200 100% 432000
refresh_pattern -i (.|-)(ico(.)?|pn[pg]|css|(g|t)iff?|jpe?g(2|3|4)?|psd|c(d|b)r|cad|bmp|img) 43200 100% 432000
refresh_pattern -i (.|-)(webm|(x-)?swf|mp(eg)?(3|4)|mpe?g(av)?|(x-)?f(l|4)v|divx?|rmvb?|mov|trp|ts|avi|m38u|wmv|wmp|m4v|mkv|asf|dv|vob|3gp?2?) 43200 100% 432000
refresh_pattern -i (.|-)(docx?|xlsx?|pptx?|rtf|xml|pdf|tiff?|txt) 43200 100% 432000

# catchall line
refresh_pattern . 0 20% 4320

{% endif %}
