# {{ ansible_managed }}
#
#	Logrotate fragment for squid.
#
/var/log/squid/*.log {
	daily
	compress
	delaycompress
	rotate {{ squid_log_days }}
	missingok
	nocreate
	sharedscripts
	prerotate
		test ! -x /usr/sbin/sarg-reports || /usr/sbin/sarg-reports daily
	endscript
	postrotate
		test ! -e /run/squid.pid || test ! -x /usr/sbin/squid || /usr/sbin/squid -k rotate
	endscript
}
