# {{ ansible_managed }}

Hostname={{ inventory_hostname }}
Server={{ zbx_servers }}
ServerActive={{ zbx_servers }}
ListenPort=10050

LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0

#DebugLevel=4

Include=/etc/zabbix/zabbix_agentd.d/*.conf
Include=/etc/zabbix/zabbix_agent.d/*.conf
