# {{ ansible_managed }}

Hostname={{ inventory_hostname }}
Server={{ zbx_servers }}
ServerActive={{ zbx_servers }}
ListenPort=10050

LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0

ControlSocket=/tmp/agent.sock

#DebugLevel=4

Include=/etc/zabbix/zabbix_agent2.d/*.conf
Include=./zabbix_agent2.d/plugins.d/*.conf

