# {{ ansible_managed }}

#wrapper
UserParameter=hw.raid.wrapper[*],"{{ zbx_scripts_dir }}/raid_wrapper.sh"

#checks
UserParameter=hw.raid.physical_disk[*],/usr/bin/perl -w "{{ zbx_scripts_dir }}/raid_check.pl" -mode pdisk -item $4 -adapter $1 -enclosure $2 -pdisk $3
UserParameter=hw.raid.logical_disk[*],/usr/bin/perl -w "{{ zbx_scripts_dir }}/raid_check.pl" -mode vdisk -item $3 -adapter $1 -vdisk $2
UserParameter=hw.raid.bbu[*],/usr/bin/perl -w "{{ zbx_scripts_dir }}/raid_check.pl" -mode bbu -item $2 -adapter $1
UserParameter=hw.raid.adapter[*],/usr/bin/perl -w "{{ zbx_scripts_dir }}/raid_check.pl" -mode adapter -item $2 -adapter $1
