upstream jenkins {
  server 127.0.0.1:8080 fail_timeout=0;
}
 
server {
  listen 80;
  server_name {{ jn_hostname }};
  return 301 https://$host$request_uri;
}
 
server {
  listen 443 ssl;
  server_name {{ jn_hostname }};
 
  ssl_certificate /etc/nginx/ssl/jenkins.pem;
  ssl_certificate_key /etc/nginx/ssl/jenkins.key;
 
location / {
  proxy_set_header        Host $host:$server_port;
  proxy_set_header        X-Real-IP $remote_addr;
  proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header        X-Forwarded-Proto $scheme;
  proxy_redirect http:// https://;
  proxy_pass              http://jenkins;
  # Required for new HTTP-based CLI
  proxy_http_version 1.1;
  proxy_request_buffering off;
  proxy_buffering off; # Required for HTTP-based CLI to work over SSL
  # workaround for https://issues.jenkins-ci.org/browse/JENKINS-45651
  add_header 'X-SSH-Endpoint' '{{ jn_hostname }}:50022' always;
  }
}