# {{ ansible_managed }}

[Desktop Entry]
Name=Screen Shot
Name[de]=Bildschirmfoto
Name[en_CA]=Screen Shot
Name[en_GB]=Screen Shot
Name[es]=Captura de pantalla
Name[fr]=Capture d'écran
Name[it]=Schermata
Type=Application
Icon=applets-screenshooter
Exec=screenshot2app
Terminal=false
Keywords=screenshooter;Bildschirmfoto;screen;
Categories=Utility;
