# {{ ansible_managed }}

[Desktop Entry]
Type=Application
Name=Waydroid Stop
Exec=sh -c "waydroid session stop; rm -f ~/.local/share/applications/waydroid.com.android.* ~/.local/share/applications/waydroid.org.lineageos.*; echo session stopped"
Terminal=true
Icon=waydroid