#{{ ansible_managed }}

[Unit]
Description=Extend the battery life of laptop

[Service]
Type=oneshot
ExecStart=/usr/sbin/powertop --auto-tune
ExecStartPost={{ pw_enable }}

[Install]
WantedBy=multi-user.target sleep.target
