[Interface]
PrivateKey = {{ item.1.content | b64decode | trim }}
Address = {{ item.0.ip }}
DNS = {{ wg_dns }}

[Peer] 
PublicKey = {{ wg_public_server_key.content | b64decode | trim }}
Endpoint = {{ wg_peer }}:{{ wg_port }}
AllowedIPs = {{ item.0.allow | default('0.0.0.0/0') }}