[Interface]
Address = {{ wg_network }}
{% if wg_mtu is defined %}
{% if wg_mtu %}
MTU = {{ wg_mtu }}
{% endif %}
{% endif %}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_private_server_key.content | b64decode | trim }}
PostUp = iptables -t nat -A POSTROUTING -s {{ wg_network_route }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ wg_network_route }} -j MASQUERADE


{% for item, pub  in wg_peers | zip(wg_public_peer_keys.results) %}
[Peer]
PublicKey = {{ pub.content | b64decode | trim }}
AllowedIPs = {{ item.ip }}

{% endfor %}